/*css样式用于美化网页如调整字体、修改图片大小、修改区块内外边距等

添加css样式有三种方法：
1、直接在html文档中标签加上style属性例如<h1 style ="color: red">
2、直接在html文档头部中用<style>标签对包括起来如：
<style>
    h2{
        color: Red;
    }
    p{
        color: blue;
        font-size:36px;
    }
</style>
这种方法可以对网页中所有标签进行修改，但一个网站往往由多个网页构成。
3、直接新建一个css样式表内容和<style>标签对里需要的内容相同 再在对应html文档中用link标签将样式表连回原来网页
   rel属性是文件类型，href是路径 */

/*css中三个重要的属性：
border（边框）
padding （内边距）即内容与边框的距离
margin （外边距）控制不同网页之间的距离

浏览器本身也有定义一些css样式的预设值比如padding、margin
*/
*{/*  *号即对整个html文档生效，这一部分用于清除浏览器的预设值以免后续受到干扰*/
    padding: 0;
    margin: 0;
    
} 
/*
header,section,footer{
    background-color: #d6ccc2;设置对应区块的背景颜色
    border:5px  #9d8189 solid;para:边框粗细，颜色，线条样式;solid:一般的直线;dashed:虚线;dotted:圆点
    padding:30px;para:一个值:四周均设置，四个值:上、右、下、左；三个值:上、左右、下：两个值：上下、左右
    margin:30px;para:同padding
}
*/
header{
    background-color: rgba(35,28,26,0.8);/*前面三项分别为rgb，最后一项为透明度从0到1*/
    height:80px;/*页首高度设为80像素*/
    width:100%;/*页首宽度设为与视窗同宽*/
    position:fixed;/*区块位置模式有绝对和相对模式，相对模式指相对原来位置移动，绝对模式则元素在定位时
    以包覆该元素的容器来进行计算（即在该容器内某某位置）*/
    /*position改成fixed后导航栏会一直在页面的上方，但是此时整个版面会向上偏移所以要将第二个区块高度加大*/
}
h1{
    color:white;
    position:absolute;
    top:0;
    left:120px;
    line-height:80px;
    background-image:url(images/logo.svg);/*载入背景图片*/
    background-repeat:no-repeat;/*让背景只显示一张图*/
    background-position:center;/*让背景图显示在中间*/
    width:210px;/*logo背景宽度*/
    text-indent:-9999px;
}
header ul{
    position:absolute;/*将导航栏按钮位置设为绝对模式*/
    right:5vw;
    top:0;
    line-height:80px;/*改变文字的行距可以理解成文字上下所占空间即文字的容器上下距离（这个不等同于文字大小）将其设为80像素等于
    页首高度，而上边缘为0即文字容器上边缘与页首对齐，所以此时文字会居于页首中间*/
}
header a{
    /*header中的a标签*/
    color:white;
    text-decoration:none;/*导航栏的文字下划线取消*/

}
header a:hover{
    /*鼠标悬停时的样式*/
    text-decoration:underline;/*当鼠标悬停在导航栏时显示文字的下划线*/
}
header li{
    display:inline;/*修改li标签内容样式，将所有li标签放在一行（本来它们都是独占一整行的区块的）*/
    margin-right:4vw;/*设置导航栏右边距，vw是相对单位，4vw即视窗宽度的4%*/
}
.news{
    /*对应news属性的section*/
    background-color:antiquewhite;
    color:white;
    height:95vh;
    background-image:url("images/banner.png");
    background-repeat:no-repeat;/*只显示一张背景图*/
    background-size:cover;/*覆盖整个区块*/
    background-position:center;/*将图片放置于整个区块中间：前面用cover虽然覆盖了整个区块但是
    相当于是将图片左上角对齐区块后向右下拉伸从而覆盖*/
    display:flex;/*设置为弹性盒子，子元素默认会变成横向排列*/
    flex-direction:column;/*使子元素纵向堆叠*/
    align-items:center;/*水平对齐为中央，类似于word文档中的居中对齐（不是指整个盒子居中，下面那个才是）*/
    justify-content:center;
}
/*display:flex创建弹性盒子，比原本的区块有更多的排列方式；包括：
justify-content:center;水平置中
justify-content:space-between;伸展到父元素的两侧
justify-content:space-evenly;均分子元素的空隙 */
.news h2{
    font-size:60px;/*设置h2标签中的文字大小*/
    margin-top:60px;
}
.news p{
    color:#FEF7E6;
    font-size:18px;
}
.slogan{
    background-color:#485652;
    color:white;
    height:250px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    font-size:20px;
    line-height:1.8em;/*行高为1.8倍行距*/
}
footer{
    background-color:black;
    color:grey;
    height:60px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:14px;

}    
.shop{
    display:flex;
}
.shop img{
    width:50%;
}
.info{
    width:50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
}
.info h2{
    font-size:40px;
    margin-bottom: 30px;

}
.info p{
    text-align:center;
    line-height:2em;
}
.product{
    display:flex;
    background-color: #ede9db;
    justify-content: space-between;
    align-items: center;
    padding:100px 180px 80px;
}
.product div{
    width: 300px;
    text-align: center;

}
.product img{
    width: 100%;
    border-radius: 10px;
}
.product h3{
    font-size: 20px;
    margin: 20px 0;
}
.product p{
    font-size: 14px;
    line-height: 1.6em;
}
.newsletter{
    background-color: #485652;
    color:white;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newsletter p{
    margin-bottom: 20px;
}
.newsletter input,.newsletter button{
    background-color: transparent;
    color:white;
    border:1px solid #949d9a;
    padding: 10px;
    border-radius: 5px;/*添加边框圆角效果*/
}
.newsletter input{
    width:200px;
    margin-right: 15px;
}
.newsletter button{
    width: 80px;
    cursor: pointer;/*当鼠标悬停在按钮上时变成手的形状*/
}
input::placeholder{ /*css语法：选择器*/
    color: #DDDDDD;
}
input:focus{
    outline:none;
    border-color:#E0E9A3;
}
.menu{
    display:none;/*在桌面显示器（大屏幕）显示时隐藏汉堡选单*/
}
/*响应式设计*/
@media screen and (max-width: 768px){/*确定接下来语法生效条件
    为屏幕宽度小于768像素*/
    header ul{
        display:none;/*屏幕减小时导航栏与logo重叠所以先隐藏起来*/
    }
    header h1{
        left: 50%;/*将logo放置在距离左边框50%的距离（但是此时
        是以logo区块左上角为中心移动）*/
        transform:translateX(-50%);/*让logo沿着水平x轴向左移动
        半个区块的距离达到logo水平居中的目的*/
    }
    .news h2{
        font-size:40px;
    }
    .menu{
        display: block;/*在小屏幕时将汉堡选单显示为区块元素*/
        background-color: transparent;
        color: white;
        font-size: 35px;
        position:absolute;
        top:15px;
        left: 20px;
        border: none;/*无边框*/
        cursor: pointer;/*鼠标悬停时变为手i形状*/
    }
    .shop img{
        width:100%;
    }
    .info{
        width:100%;
        padding: 40px 0;

    }
    .info h2{
        font-size: 30px;
    }
    .product{
        flex-direction: column;/*改为上下并排*/
        padding: 60px 0;
    }
    .product div{
        margin-bottom: 30px;
    }


}